.header {
    height: 42px;
    background-color: #1c1c1c;
}

.mainSection {
    background-image: url("../public/about-1.jpg");
    background-repeat: no-repeat;
    opacity: 80%;
    height: 460px;
    width: auto;
}

.navigation {
    text-decoration-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
}

.aboutSection {
    padding-top: 280px;
}

.aboutTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: underline yellow;
}

.aboutTxt {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.aboutImg {
    background-image: url("../public/about-2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    text-align: center;
}

.customerRevTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    padding-top: 25px;
    text-decoration: underline yellow;
}

@media (max-width: 600px) {
    /*.grid {*/
    /*    width: 100%;*/
    /*    flex-direction: column;*/
    /*}*/
}