.header {
    height: 42px;
    width: 100%;
    background-color: #1c1c1c;
}


#menuImg_1 {
    background-image: url("../public/contact.jpg");
    background-repeat: no-repeat;
    height: 613px;
    z-index: 3;
}

#menuImg_2 {
    background-image: url("../public/coffee - kopie.jpg");
    height: 613px;
    z-index: 1;
}

.navigation {
    text-decoration-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 20px;
}
