
.header {
    height: 42px;
    background-color: #1c1c1c;
}

.mainSection {
    background-image: url("../public/pizza-1-0.jpg");
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}

.navigation {
    text-decoration-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
}

.title {
    font-size: 90px;
    font-family: 'Courgette', cursive;
    font-weight: 700;
    line-height: 108px;
    padding-top: 135px;
}

.title2 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 90px;
}

#bookingBtn {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    width: 250px;
    height: 55px;
    color: white;
}

.conv {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 3px solid yellow;
}

.convText {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

#menuImg_1 {
    background-image: url("../public/pizza-2-0.jpg");
    background-repeat: no-repeat;
    width: auto;
    margin-top: 170px;
}

.menuTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    color: white;
    padding-top: 150px;
    margin-left: -350px;
}

#menuImg_2 {
    background-image: url("../public/pizza-5-00.jpg");
    background-repeat: no-repeat;
    width: auto;
    height: 613px;
    margin-top: 170px;
}

#image_3 {
    background-image: url("../public/pizza-3.jpg");
    background-repeat: no-repeat;
    height: 613px;
}


#menuContainer {
    margin-top: -200px;
    margin-left: 270px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.pizzaListTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: underline yellow;
    color: #333333;
    padding-top: 150px;
    padding-bottom: 50px;
}

.drinksListTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: underline yellow;
    color: #333333;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.dessertsListTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: underline yellow;
    color: #333333;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 100px;
}

.pizzaList {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
}

.drinksList {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    padding-left: 100px;
}

.dessertsList {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    padding-left: 100px;
}

#seeMore {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: white;
    line-height: 27px;
    margin-left: 210px;
    margin-right: 210px;
    border-radius: 15px;
    padding: 12px 0 12px 0;
}

#aboutContainer {
    margin-top: 80px;
    margin-left: 470px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

#image_4 {
    background-image: url("../public/pizza-4.jpg");
    height: 615px;
    width: auto;
}

.aboutListTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #333333;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.aboutList {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    padding-left: 120px;
    padding-right: 55px;
}

.contactUs {
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 80px;
}

#contactContainer {
    margin-top: 30px;
    margin-left: 270px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

#image_5 {
    background-image: url("../public/pizza-6.jpg");
    height: 615px;
    width: auto;
}

.inputFields {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    padding: 10px 150px 10px 150px;
}

.sendBtn {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    height: 55px;
    width: 150px;
    background-color: #E3C530;
    border: 1px solid #E3C530;
    border-radius: 15px;
}

.footerTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.footerText {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.footer {
    padding-top: 50px;
}

@media (max-width: 600px) {
    /*.grid {*/
    /*    width: 100%;*/
    /*    flex-direction: column;*/
    /*}*/
}
