
.header {
    height: 42px;
    background-color: #1c1c1c;
}

.mainSection {
    background-image: url("../public/pizza-1-0.jpg");
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}

.navigation {
    text-decoration-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
}

.title {
    font-size: 90px;
    font-family: 'Courgette', cursive;
    font-weight: 700;
    line-height: 108px;
    padding-top: 135px;
}

.title2 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 90px;
}

#bookingBtn {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    width: 250px;
    height: 55px;
    color: white;
}

.conv {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 3px solid yellow;
}

.convText {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

#menuImg_1 {
    background-image: url("../public/pizza-2-0.jpg");
    background-repeat: no-repeat;
    width: auto;
    margin-top: 170px;
}

.menuTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    color: white;
    padding-top: 150px;
    margin-left: -350px;
}

#menuImg_2 {
    background-image: url("../public/pizza-5-00.jpg");
    background-repeat: no-repeat;
    width: auto;
    height: 613px;
    margin-top: 170px;
}


.menuImg {
    background-image: url("../public/pizza-5-00.jpg");
    height: 613px;
    width: auto;
    background-repeat: no-repeat;
}

.menuTable {
    background-color: white;
    border: 1px solid black;
    height: 615px;
    margin-top: -175px;
    z-index: 1;
}

#menuList {
    margin-top: -200px;
    padding-bottom: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pizzaListTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: underline yellow;
    color: #333333;
    padding-top: 200px;
    padding-bottom: 50px;
}

.drinksListTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: underline yellow;
    color: #333333;
    padding-top: 200px;
    padding-left: 150px;
    padding-bottom: 50px;
}

.dessertsListTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: underline yellow;
    color: #333333;
    padding-top: 200px;
    padding-bottom: 50px;
    padding-left: 150px;
}

.pizzaList {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
}

.drinksList {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    padding-left: 150px;
}

.dessertsList {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    padding-left: 150px;
}

#seeMoreBtn {
padding-top: 110px;
}


@media (max-width: 600px) {
    /*.grid {*/
    /*    width: 100%;*/
    /*    flex-direction: column;*/
    /*}*/
}
