.header {
    height: 42px;
    background-color: black;
}

.mainSection {
    background-image: url("../public/pizza-1-0.jpg");
    background-repeat: no-repeat;
    height: 800px;
}

.navigation {
    text-decoration-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
}

.title {
    font-size: 90px;
    font-family: 'Courgette', cursive;
    font-weight: 700;
    line-height: 108px;
    padding-top: 135px;
}

.title2 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 90px;
}

#bookingBtn {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    width: 250px;
    height: 55px;
    color: white;
}

.conv {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 3px solid yellow;
}
.convText {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.menu {
    background-image: url("../public/pizza-2-0.jpg");
    background-repeat: no-repeat;
    width: 1903px;
    height: 613px;
    line-height: 96px;
    margin-top: 170px;
}

.menuTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 80px;
    font-weight: 700;
    padding-top: 150px;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
