.header {
    height: 42px;
    background-color: #1c1c1c;
}

.mainSection {
    background-image: url("../public/pizza-1-0.jpg");
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}

.navigation {
    text-decoration-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
}

.title {
    font-size: 90px;
    font-family: 'Courgette', cursive;
    font-weight: 700;
    line-height: 108px;
    padding-top: 135px;
}

.title2 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 90px;
}

#bookingBtn {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
    width: 250px;
    height: 55px;
    color: white;
}

.conv {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 3px solid yellow;
}

.convText {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

#menuImg_1 {
    background-image: url("../public/pizza-2-0.jpg");
    background-repeat: no-repeat;
    width: auto;
    margin-top: 170px;
    z-index: 1;
}

#menuImg_2 {
    background-image: url("../public/pizza-5-00.jpg");
    background-repeat: no-repeat;
    width: auto;
    height: 613px;
    margin-top: 170px;
    z-index: 3;
}

.menuTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    color: white;
    padding-top: 150px;
    margin-left: -350px;
}

.menuImg {
    background-image: url("../public/pizza-5-00.jpg");
    height: 613px;
    width: auto;
    background-repeat: no-repeat;
}

.menuTable {
    background-color: white;
    border: 1px solid black;
    height: 615px;
    margin-top: -200px;
}



@media (max-width: 600px) {
    /*.grid {*/
    /*    width: 100%;*/
    /*    flex-direction: column;*/
    /*}*/
}
