.header {
    height: 42px;
    width: 100%;
    background-color: #1c1c1c;
}

.mainSection {
    background-image: url("../public/menu-1.jpg");
    background-repeat: no-repeat;
    opacity: 80%;
    height: 460px;
    width: auto;
}

.navigation {
    text-decoration-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 20px;
}

.menuTitle {
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 30px;
    text-align: center;
    text-decoration: underline yellow;
}

@media (max-width: 600px) {
    /*.grid {*/
    /*    width: 100%;*/
    /*    flex-direction: column;*/
    /*}*/
}